{
    "extends": ["angular", "airbnb-base"],
    "parserOptions": {
      "ecmaVersion": 6,
      "env": {
          "browser": true,
          "node": true
      }
    },
    "globals": {
      "_": true
    },
    "rules": {
      "import/no-dynamic-require": 0,
      "comma-dangle": 0,
      "no-confusing-arrow": 0,
      "global-require": 0,
      "prefer-template": 0
    }
}
